1.read HTML(read_html)
2.To HTML(to_html)

In [1]:
import pandas as pd

In [2]:
html=pd.read_html("https://en.wikipedia.org/wiki/Mobile_country_code")

In [3]:
type(html)

list

In [4]:
html[0]

,MCC,MNC,Brand,Operator,Status,Bands (MHz),References and notes
0,1,1,TEST,Test network,Operational,any,NaN
1,1,1,TEST,Test network,Operational,any,NaN
2,999,99,NaN,Internal use,Operational,any,"Internal use in private networks, no roaming[6]"
3,999,999,NaN,Internal use,Operational,any,"Internal use in private networks, no roaming[6]"

In [5]:
type(html[1]) # data ko dataframe ma convert kr raha h

pandas.core.frame.DataFrame

In [6]:
html=pd.read_html("https://simple.wikipedia.org/wiki/New_York_City",match="Density of population")

In [7]:
html[0]

                    New York City's five boroughsvte  \
                                        Jurisdiction
                                             Borough
0                                          The Bronx
1                                           Brooklyn
2                                          Manhattan
3                                             Queens
4                                      Staten Island
5                                   City of New York
6                                  State of New York
7  Sources:[81][82][83][84] and see individual bo...

                                                      \

                                              County
0                                              Bronx
1                                              Kings
2                                           New York
3                                             Queens
4                                           Richmond
5                                   City of New York
6                                  State of New York
7  Sources:[81][82][83][84] and see individual bo...

                                                      \
                                          Population
                                      Census  (2020)
0                                            1472654
1                                            2736074
2                                            1694251
3                                            2405464
4                                             495747
5                                            8804190
6                                           20201249
7  Sources:[81][82][83][84] and see individual bo...

                                                      \
                                           Land area
                                       square  miles
0                                               42.2
1                                               69.4
2                                               22.7
3                                              108.7
4                                               57.5
5                                              300.5
6                                            47123.6
7  Sources:[81][82][83][84] and see individual bo...

                                                      \

                                           square km
0                                              109.2
1                                              179.7
2                                               58.7
3                                              281.6
4                                              149.0
5                                              778.2
6                                           122049.5
7  Sources:[81][82][83][84] and see individual bo...

                                                      \
                               Density of population
                                    people/ sq. mile
0                                              34920
1                                              39438
2                                              74781
3                                              22125
4                                               8618
5                                              29303
6                                                429
7  Sources:[81][82][83][84] and see individual bo...

                                                      \

                                      people/ sq. km
0                                              13482
1                                              15227
2                                              28872
3                                               8542
4                                               3327
5                                              11314
6                                                166
7  Sources:[81][82][83][84] and see individual bo...

                                                      \
                                                 GDP
                               billions (2022 US$) 2
0                                              $43.7
1                                             $107.3
2                                             $781.0
3                                             $103.3
4                                              $17.5
5                                           $1,052.8
6                                           $1,763.5
7  Sources:[81][82][83][84] and see individual bo...


                                  Unnamed: 8_level_1
                                  Unnamed: 8_level_2
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN
5                                                NaN
6                                                NaN
7  Sources:[81][82][83][84] and see individual bo...

In [8]:
type(html[0])

pandas.core.frame.DataFrame

In [9]:
html[0].to_html('demo.html') # esne hamare data frame ko html ma convert kiya